<div class="grid__item {{ grid_class }} {{ extra_class }}">
  <a href="{{ shop.url }}{{ collection.url }}" class="block clearfix relative color--{{ text_color }}" >

    <div class="placeholder full">
      {{ 'collection-1' | placeholder_svg_tag }}
    </div>

    <div class="content absolute top--0 left--0 bottom--0 right--0 full">
      <div class="table full">
        <div class="table-cell text-align--center align--middle">
          <h3 class="f--title font-size--xxxl lg--font-size--xxxxl">{{ 'homepage.onboarding.collection_title' | t }}</h3>
        </div>
      </div>
    </div>

  </a>
</div>
