<!-- begin site-footer -->
{% capture bg_color %}bg--{{ settings.color_footer_bg }}{% endcapture %}
{% capture text_color %}color--{{ settings.color_footer_bg }}-overlay{% endcapture %}
{% capture text_color_social %}{{ settings.color_footer_bg }}-overlay{% endcapture %}
{% capture accent_color %}bg--{{ settings.color_footer_accent }}{% endcapture %}
<footer class="site-footer small--text-center {{ bg_color }} {{ text_color }} f--main" role="contentinfo">
  <div class="wrapper">

    <div class="site-footer__mobile hide md-dn--show">

      {% if section.settings.show_social_icons %}
        {% include 'social', color: text_color_social %}
      {% endif %}

      <!-- begin secondary-nav -->
      {% if section.settings.secondary_linklist != blank %}
        {% assign selected_linklist = section.settings.secondary_linklist %}
        {% include 'linklist-footer', selected_linklist: selected_linklist %}
      {% endif %}

      {% for block in section.blocks %}
        <div class="px2 font-size--s">
          {% if block.settings.html_mobile != '' %}
            {{ block.settings.html_mobile }}
          {% else %}
            {{ block.settings.html }}
          {% endif %}
        </div>
      {% endfor %}

      <div class="copyright px2 py3 font-size--s">
        <p>&copy; {{ 'now' | date: '%Y' }} <a href="/" class=" {{ text_color }}">{{ shop.name }}</a></p>
        <hr class="rule  {{ accent_color }}  m0 my2 text-align--left" />

        {% if section.settings.extra_information != '' %}
          {{ section.settings.extra_information }}
        {% endif %}

        <div class="footer__credit">
          <p class=" font-size--xs powered-by mt3 mb1">
            {{ powered_by_link }}
          </p>
           {% if section.settings.show_theme_credit %}
           <p class="theme-credit font-size--xs m0">
             {{ 'layout.footer.theme_credit_html' | t }}
           </p>
         {% endif %}
        </div>

      </div>

      {% if section.settings.main_linklist != blank %}
        <div class="px2">
          {% assign selected_linklist = section.settings.main_linklist %}
          {% include 'linklist-footer', selected_linklist: selected_linklist %}
        </div>
      {% endif %}

    </div>

    <div class="site-footer__desktop md-dn--hide ">

      {% assign col_size = 'lg--one-quarter' %}

      <div class="grid">
        <div class="grid__item {{ col_size }}  font-size--s">
          <p>&copy; {{ 'now' | date: '%Y' }} <a href="/" class=" {{ text_color }}">{{ shop.name }}</a></p>
          <hr class="rule   {{ accent_color }}  m0 my2 text-align--left" />

          {% if section.settings.extra_information != '' %}
            {{ section.settings.extra_information }}
          {% endif %}

        </div>

        {% for block in section.blocks %}
          <div class="grid__item {{ col_size }}  font-size--s">
            {% if block.settings.html_mobile != '' %}
              <div class="md-dn--hide">{{ block.settings.html }}</div>
              <div class="hide md-dn--show">{{ block.settings.html_mobile }}</div>
            {% else %}
              {{ block.settings.html }}
            {% endif %}
          </div>
        {% endfor %}

        {% if section.settings.show_social_icons %}
        <div class="grid__item {{ col_size   }} text-align--right">
          {% include 'social', color: text_color_social %}
        </div>
        {% endif %}
      </div>

      <div class="grid mt3">
        <div class="grid__item one-half">
          <div class="footer__credit">
            <p class=" font-size--xs powered-by mb1">
              {{ powered_by_link }}
            </p>
             {% if section.settings.show_theme_credit %}
             <p class="theme-credit font-size--xs m0">
               {{ 'layout.footer.theme_credit_html' | t: text_color: text_color }}
             </p>
           {% endif %}
          </div>
        </div>
        <div class="grid__item one-half text-align--right">

          {% comment %}
            Loop through available payment methods and show their icons.
          {% endcomment %}
          {% unless shop.enabled_payment_types == empty %}
            {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
            <ul class="inline-list payment-icons font-size--xl list-rest m0">
              {% for type in shop.enabled_payment_types %}
                {% if payment_icons_available contains type %}
                  <li class="{{ text_color }}">
                    {% include 'svg-icon', icon: type %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endunless %}

        </div>
      </div>

      {% if section.settings.main_linklist != blank %}
        <div>
          {% assign selected_linklist = section.settings.main_linklist %}
          {% include 'linklist-footer', selected_linklist: selected_linklist %}
        </div>
      {% endif %}

    </div>


    <div class="grid">


      <div class="grid__item text-center">


      </div>
    </div>
  </div>



</footer>

{% schema %}
{
  "name": "Footer",
  "class": "section-site-footer",
  "settings": [
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Menu",
      "default": "footer"
    },
    {
      "id": "extra_information",
      "type": "richtext",
      "label": "About text",
      "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
    },
    {
      "type": "checkbox",
      "id": "show_theme_credit",
      "label": "Show theme credit"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "info": "Social icons are configured under General Settings"
    }
  ],
  "blocks" :  [
    {
      "type": "footer_html",
      "name": "Custom HTML",
      "limit": 2,
      "settings": [
        {
           "type":      "html",
           "id":        "html",
           "label":     "HTML",
           "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "id": "html_mobile",
          "type": "html",
          "label": "HTML - Mobile",
          "info": "Optional - use this if you would like different formatting / text on mobile devices."
        }
      ]
    }
  ]
}
{% endschema %}
