<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% capture selectID %}select-{{ product.handle }}{% endcapture %}
{% capture sectionID %}section-{{ product.handle }}{% endcapture %}

{% comment %}
Check for any supporting pages
{% endcomment %}
{% assign supporting_links = false %}
{% for block in section.blocks %}
  {% case block.type %}
  {% when 'supporting_links' %}
    {% assign supporting_links = true %}
  {% endcase %}
{% endfor %}

{% assign show_quantity = section.settings.show_quantity %}

<section itemscope itemtype="http://schema.org/Product" class="section bg--section section-product section--product-page relative pb4" id="{{ sectionID }}" data-section-id="{{ section.id }}" data-money-format="{{ shop.money_format }}">

  <div class="wrapper section--wrapper">

  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}


  <div class="product-sticky lg--two-fifths dt--one-quarter">
    <div class="wrapper">
      <div class="wrapper section--wrapper">
        <div class="grid grid--rev">
          <div class="grid__item">
            {% include 'product-page-form' %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% comment %}<div class="js--lightbox-trigger" data-target="aim-here">CLICK HERE</div>{% endcomment %}
  {% comment %}<div class="grid product-single">{% endcomment %}

    <div class="grid__item lg--three-fifths dt--one-quarter text-center relative">

        
        {% if  product.images.size > 1 %}
        <div class="relative product-slider-holder mb4 lg--pb0 lg--mb4">
          <div class="slider-for product-images-slider m0 p0">
            {% for image in product.images %}

              {% if image.attached_to_variant? %}
                {% assign variant_classes = '' %}
                {% for variant in image.variants %}
                  {% capture variant_class %} variant-{{ variant.id }}{% endcapture %}
                  {% assign variant_classes = variant_classes | append: variant_class %}
                {% endfor %}
              {% endif %}

              <div data-set="set" class="{% if forloop.index == 1 %}aim-here {% endif %} product-images-slider__item {% if image.attached_to_variant? %}attached-to-variant{{ variant_classes }}{% endif %}">
                {% comment %}
                <img
                    src="{{ image.src | img_url: '1000x' }}"
                    class="lazyload product-images-slider__image"
                 />
                 {% endcomment %}
                 <picture>
                   <!--[if IE 9]><video style="display: none"><![endif]-->
                   <source
                     data-srcset="{{ image.src | img_url: '800x'  }}"
                     media="(max-width: 768px)" />
                   <source
                       data-srcset="{{ image.src | img_url: '2000x' }}" />
                   <!--[if IE 9]></video><![endif]-->
                   <img
                       src="{{ image.src | img_url: '10x'  }}"
                       data-src="{{ image.src | img_url: '10x'  }}"
                       class="lazyload product-images-slider__image product-images-slider__image--single full blur-up"
                       alt="{{ image.alt }}"/>
                 </picture>

              </div>
            {% endfor %}
          </div>

          <div class="slider-nav">
            {% for image in product.images %}
              <div>
                <img src="{{ image.src | img_url: '80x' }}" >
              </div>
            {% endfor %}
          </div>

          <div class="product-images-slider__status f--main t--meta font-size--s lg--hide">
            <span class="current color--shop-accent "></span>
            &nbsp;/&nbsp;
            <span class="total"></span>
          </div>

          {% include 'svg-icon', icon: 'chevron-left', class: 'slick--left-svg' %}
          {% include 'svg-icon', icon: 'chevron-right', class: 'slick--next-svg' %}
        </div>
        {% else %}
          <div class="mb3 lg--mb0">
            {% for image in product.images %}
            <picture>
              <!--[if IE 9]><video style="display: none"><![endif]-->
              <source
                data-srcset="{{ image.src | img_url: '800x'  }}"
                media="(max-width: 768px)" />
              <source
                  data-srcset="{{ image.src | img_url: '2000x' }}" />
              <!--[if IE 9]></video><![endif]-->
              <img
                  src="{{ image.src | img_url: '10x'  }}"
                  data-src="{{ image.src | img_url: '10x'  }}"
                  class="lazyload full blur-up"
                  alt="{{ image.alt }}" />
            </picture>
            {% endfor %}
          </div>
        {% endif %}



    </div><!-- end product images -->

    <div class="grid__item lg--one-half text-align--center lg--hide">

      {% include 'product-page-form' %}

    </div><!-- end product form -->

  {% comment %}</div><!-- end images and form grid -->{% endcomment %}


{% comment %}  <div class="mt3 lg--mt0 lg--pt4 product-content relative lg--three-fifths dt--three-quarters" itemprop="description">
    <div class="grid grid--rev">{% endcomment %}
      <div class="grid__item lg--three-fifths dt--one-half rte rte--shop product-content product-description">
        {{ product.description  }}
      </div>
      <div class="grid__item dt--one-quarter mt3 lg--mt0  t--meta" style="display: none;">

        {% if section.settings.show_share_links %}
          {% include 'share' %}
        {% endif %}

        {% if supporting_links %}
        <ul class="m0 p0 list--reset f--main font-size--s   t--meta">
        {% for block in section.blocks %}
          {% case block.type %}
          {% when 'supporting_links' %}
            <li class="mb2" {{ block.shopify_attributes }}>
              <a href="{{ block.settings.url }}">{{ block.settings.title | escape }}</a>
            </li>
          {% endcase %}
        {% endfor %}
        </ul>
        {% endif %}

        {% if section.settings.show_tags %}

          {% if product.tags %}
          <ul class="m0 mt3 p0 list--reset f--main  t--meta font-size--s">
            {% for tag in product.tags %}
              <li class="inline-block mr1 dt--block dt--mb1">
                <a href="/collections/all/{{ tag | replace: ' ', '-' }}">#{{ tag | replace: ' ', '-' }}</a>
              </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}

      </div>
{% comment %}    </div>

  </div>{% endcomment %}


  </div>
</section>


{% if section.settings.show_related_articles %}
{% include 'product__related-articles' %}
{% endif %}

{% if section.settings.show_related_products %}
{% include 'product__related-products' %}
{% endif %}


<script type="application/json" id="ProductJson-{{ section.id }}">
  {{ product | json }}
</script>

<script type="application/json" id="FirstVariant-{{ section.id }}">
  {{ product.selected_or_first_available_variant | json }}
</script>

{% schema %}
  {
    "name": "Product pages",
    "class": "section-single-product",
    "settings": [
      {
        "type": "header",
        "content": "General"
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity"
      },
      {
        "type": "checkbox",
        "id": "show_share_links",
        "label": "Show share links"
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products"
      },
      {
        "type": "header",
        "content": "Related articles"
      },
      {
        "type": "checkbox",
        "id": "show_related_articles",
        "label": "Enable related articles",
        "info":   "Show articles that share the same tag as the product. Add your blogs below."
      },
      {
        "type":      "paragraph",
        "content":   "Select up to 5 blogs. These will be used for \"related articles\"."
      },
      {
        "type":      "blog",
        "id":        "blog_1",
        "label":     "Select blog:"
      },
      {
        "type":      "blog",
        "id":        "blog_2",
        "label":     "Select blog:"
      },
      {
        "type":      "blog",
        "id":        "blog_3",
        "label":     "Select blog:"
      },
      {
        "type":      "blog",
        "id":        "blog_4",
        "label":     "Select blog:"
      },
      {
        "type":      "blog",
        "id":        "blog_5",
        "label":     "Select blog:"
      }
    ],
    "blocks": [
      {
        "type": "supporting_links",
        "name": "Supporting pages",
        "settings": [
          {
             "type":      "paragraph",
             "content":   "Add a related page that will be shown on all product pages. E.g. 'Shipping info'"
          },
          {
             "type":      "text",
             "id":        "title",
             "label":     "Link label"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Url"
          }
        ]
      }
    ]
  }
{% endschema %}
